.container {
  margin-bottom: 20px;
}

.input {
  padding-left: 10px;
  display: block;
  width: 286px;
  height: 30px;
  border-radius: 12px;
  border: 1px solid #212121;
  transition: border 100ms ease-in;
}

.input:hover,
.input:focus {
  border-color: lightgray;
}

.label {
  display: block;
  margin-bottom: 5px;
}
