.link {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  transition: color 100ms ease-in;
}

.link::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: transparent;
}

.link:hover,
.active:focus {
  color: var(--color-red);
}

.active {
  composes: link;
  color: var(--color-red);
}

.active::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 20px;
  background-color: var(--color-red);
}
