.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
}

.username {
  font-weight: 700;
}

.button {
  display: block;
  height: 30px;
  width: 120px;
  border-radius: 20px;
  border: 1px solid lightgray;
  background-color: white;
  cursor: pointer;
  transition: border 150ms ease-in;
}

.button:hover {
  border: 1px solid #f37878;
}
